*{
    margin: 0px;
}
.banner{
    display: flex;
    justify-content: center;
    
    background: rgba(229, 84, 115, 0.10);
    width: 1920px;
    height: 850px;
}
.banner-flower{
    margin-left: 97px;
    margin-top: 50px;
}
.banner-title{
    color: #272727;
font-family: Lato;
font-size: 80px;
font-style: normal;
font-weight: 800;
line-height: normal;
width: 708px;
margin-top: 197px;
}
.banner-p{
 color: rgba(39, 39, 39, 0.60);
font-family: Lato;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px;
margin-top: 32px;
}
.btn-banner{
    border-radius: 8px;
background: #E55473;
display: inline-flex;
padding: 20px 43px;
border: none;
gap: 10px;
color: #FFF;
font-family: Lato;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
cursor: pointer;
margin-top: 52px;
}
.btn-banner:hover{
    color: black;
}
/* Featured section */
.featured-flower{
    text-align: center;
}
.featured-title{
    color: #272727;
text-align: center;
font-family: Lato;
font-size: 40px;
margin-top: 178px;
font-weight: 800;
margin-bottom: 24px;

}
.featured-p{
    color: rgba(39, 39, 39, 0.60);
text-align: center;
font-family: Lato;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px;
}
